[submodule "merge_scripts"]
	path = merge_scripts
	url = https://github.com/V-Sekai/groups_merge_script.git
[submodule "https://github.com/V-Sekai/godot"]
	path = https://github.com/V-Sekai/godot
	url = godot
[submodule "godot"]
	path = godot
	url = https://github.com/V-Sekai/godot
[submodule "protongraph"]
	path = protongraph
	url = https://github.com/fire/protongraph.git
